<!DOCTYPE html>
<html class="has-background-dark">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Log In</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6 has-text-centered">
                    <a href="/"><img width="350rem" height="350rem" src="https://i.imgur.com/q8xaacX.png?2" /></a>
                    <hr>
                    <section class="hero is-light is-bold">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title is-3">
                                    Meet <a class="has-text-success"
                                    >Runnify</a>, your new running partner
                                </h1>
                                <img width="70rem" height="70rem" src="https://i.imgur.com/IMdCs5L.png?3" />
                                <br>
                                <hr style="background-color:	#363636; height: 2px; border: 0;">
                                <br>
                                <h1 class="title is-2">
                                    Features
                                </h1>
                                <p></p>
                                <p class="subtitle">Curated Spotify playlists that can be downloaded to a user's account
                                </p>
                                <p class="subtitle">Over 120 music genres to choose from</p>
                                <p class="subtitle">Dashboard with playlists history and analytics</p>
                                <p class="subtitle">Option for stride length estimation or a provided tempo</p>
                                <br>
                                <hr style="background-color:	#363636; height: 2px; border: 0;">
                                <br>
                                <h1 class="title is-2">
                                    How does Runnify work?
                                </h1>
                                <p></p>
                                <p class="subtitle">First, provide Runnify with your preferred music genre, run length,
                                    pace, and either a stride length, height, or tempo
                                </p>
                                <p class="subtitle">Using Spotify's Web API and our own tempo calculating algorithms, Runnify will return a playlist of songs
                                    that match your tempo
                                </p>
                                <p class="subtitle"> Lastly, after connecting your Spotify account to Runnify</a>, you can add the playlist to your Spotify library, and have
                                    it available for playback on your desktop, laptop, or mobile device
                                </p>
                                <br>
                                <h1 class="title is-4">
                                    <p>Ready to get started? <a class="has-text-success"
                                            href="/signup">Sign Up</a></p>
                                </h1>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</body>

</html>