<!DOCTYPE html>
<html class="has-background-dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Runnify</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .has-bg-img {
            background: url('https://i.imgur.com/84eKYUC.jpg?2')center center;
            opacity: 1;
        }
    </style>
</head>

<body>
    <section class="hero is-fullheight has-bg-img">
        <div class="hero-body">
            <nav class="navbar is-fixed-top is-transparent">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control has-text-weight-bold">
                                <a class="navbar-item" href="/about">
                                    About
                                </a>
                            </p>
                            <p class="control navbar-item">
                                |
                            </p>
                            <p class="control has-text-weight-bold">
                                <a class="navbar-item" href="/signup">
                                    Sign Up
                                </a>
                            </p>
                            <p class="control has-text-weight-bold">
                                <a class="navbar-item" href="/login">
                                    Login
                                </a>
                            </p>
                            <p class="control navbar-item">
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            </p>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="columns">
                <div class="column is-2">
                </div>
                <div class="column">
                    <article class="tile is-child notification is-dark has-text-centered">
                        <a><img width="350rem" height="120rem" src="https://i.imgur.com/q8xaacX.png?2" /></a>
                        <h2 class="subtitle">Let your music set the pace.</h2>
                        <a class="button is-success is-rounded" target="/signup" href="/signup">
                            <span class="icon">
                                <i class="fas fa-file-signature"></i>
                            </span>
                            <span>
                                Sign Up
                            </span>
                        </a>
                    </article>
                </div>
            </div>
    </section>
</body>
</html>